/* Global Styles */
    body,html {
    padding: 0;
    margin: 0;
    background: rgb(78,153,194);
    font-family: inconsolata;
    font-size: 16px;
    }

     @font-face {
    font-smooth: auto;
    font-family: inconsolata;
    src: url(Inconsolata-Regular.ttf);
}   

    a:link {
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in;
    }

    a:visited {
    color: #fff;
    text-decoration: none;
    }

    a:hover {
    color: #c2c2c2;
    text-decoration: none;
    transition: all .2s ease-in;
   }

    a:active {
    color: #c2c2c2;
    text-decoration: none;
    }

h4 { 
    font-size: 18px;  
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 9px;
    border-color: #32c0e2;
    }

#bg {
    background: rgb(78,153,194);
    background: linear-gradient(30deg, rgba(78,153,194,1) 0%, rgba(78,153,194,1) 40%, rgba(36,75,110,1) 50%, rgba(14, 44, 68,1) 100%);
    height: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
}

#content {
    color: #ffffff;   
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

#box {
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    background-color: #244b6e;
    overflow: hidden;
    border-radius: 10px;
    max-width: 550px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    border-radius: 10px;
}

.centered {
    text-align: center;
}
